<!DOCTYPE html>
<html>
  <head>
    <title>RenonHp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
     
  </head>

  <body>
    <header>
    
     <nav class="nav">
       <ul class="header-menus"id="header-menus">
         <a href="#"><li><%=link_to("top","/")%></li></a>
         <a href="#"><li><%= link_to("profile","/home/profile")%></li></a>
          <a href="#"><li><%= link_to("works","/home/works")%></li></a>
       </ul> 
     </nav>
       <button type="button" id="navbtn" ></button>
      <%= javascript_pack_tag 'click' %>
    </header>
   
     <%= yield %>
    <footer>
    <div class="footer">
     <h3>Copyright©2021 Lanon</h3>
      <p><a  href ="https://twitter.com/Lanon_RipCar" ></p>
    </div>
    
    </footer>
   
  </body>
</html>
